<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:3000');
        socket.on('connect', function (data) {
            socket.emit('join', 'Hello World from client');
        });
    </script>
</head>

<body>
    <p>Send to server</p>

    <p>
        <input type="text" id="msg">
    </p>

    <script>
        document.getElementById("msg").focus();
        document.getElementById("msg")
            .addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    console.log(this.value);
                    var msg = this.value;
                    socket.emit('msg', msg.toUpperCase());
                    document.getElementById("msg").value = '';
                }
            });
    </script>
</body>

</html>